<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Sauce Labs Test Suite">

<!--    <listeners>-->
<!--        <listener class-name="com.qa.ExtentReportListener.ExtentReporterNG" />-->
<!--    </listeners>-->


    <test name="SauceLabs Test Cases">
        <classes>
            <class name="com.saucelabs.test.LoginPageTest"></class>
            <class name="com.saucelabs.test.CartsPageTest"></class>
        </classes>
    </test>
</suite>